<div fxLayout="row" fxLayoutGap="30px" class="mt-5" fxLayoutAlign="center center">
  <a
    matTooltip="View NNG certification"
    class="cert-img"
    ngClass.lt-sm="cert-small"
    target="_blank"
    href="https://www.nngroup.com/ux-certification/verify/"
  >
    <img
      [src]="
        'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/website_images%2Fnng-uxc-badge.png?alt=media&token=b25e8f3d-ad27-4517-9633-a44ca98877b8'
      "
    />
  </a>
  <a
    matTooltip="View CSM certification"
    class="cert-img"
    ngClass.lt-sm="cert-small"
    target="_target"
    href="https://www.scrumalliance.org/community/profile/lmessmer3"
  >
    <img
      [src]="
        'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/website_images%2Fcsm.png?alt=media&token=ef3a46d0-ca7f-482b-9337-6addd31c9248'
      "
    />
  </a>
  <a
    matTooltip="View ICP certification"
    class="cert-img"
    ngClass.lt-sm="cert-small"
    target="_blank"
    href="https://www.icagile.com/credentials/178fb924-c365-46d8-a25b-fd9b517f7f53"
  >
    <img
      [src]="
        'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/website_images%2FICP.png?alt=media&token=2c61d20a-3a87-441b-817d-72f4d92beea4'
      "
    />
  </a>
  <a
    matTooltip="View PEGA certification"
    class="cert-img"
    ngClass.lt-sm="cert-small"
    target="_blank"
    href="https://academy.pega.com/verify-certification?email=landon.messmerjmu%40gmail.com"
  >
    <img
      [src]="
        'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/website_images%2Fpega_transparent.png?alt=media&token=07c4c178-1bf2-4e86-aa1a-6dfc71fadefc'
      "
    />
  </a>
</div>
