<div fxLayout="row" fxLayoutGap="30px" class="mt-5" fxLayoutAlign="center center">
  <a
    matTooltip="View NNG certification"
    class="cert-img"
    ngClass.lt-sm="cert-small"
    target="_blank"
    href="https://www.nngroup.com/ux-certification/verify/"
  >
    <img [src]="'https://ux-portfolio-lcm.s3.amazonaws.com/general/nng-uxc-badge.png'" />
  </a>
  <a
    matTooltip="View CSM certification"
    class="cert-img"
    ngClass.lt-sm="cert-small"
    target="_target"
    href="https://www.scrumalliance.org/community/profile/lmessmer3"
  >
    <img [src]="'https://ux-portfolio-lcm.s3.amazonaws.com/general/csm.png'" />
  </a>
  <a
    matTooltip="View ICP certification"
    class="cert-img"
    ngClass.lt-sm="cert-small"
    target="_blank"
    href="https://www.icagile.com/credentials/178fb924-c365-46d8-a25b-fd9b517f7f53"
  >
    <img [src]="'https://ux-portfolio-lcm.s3.amazonaws.com/general/ICP.png'" />
  </a>
  <a
    matTooltip="View PEGA certification"
    class="cert-img"
    ngClass.lt-sm="cert-small"
    target="_blank"
    href="https://academy.pega.com/verify-certification?email=landon.messmerjmu%40gmail.com"
  >
    <img [src]="'https://ux-portfolio-lcm.s3.amazonaws.com/general/pega_transparent.png'" />
  </a>
</div>
