<button
  class="cs-card-container"
  [ngClass]="{ 'disabled-cursor': !caseStudy.public }"
  [disabled]="!caseStudy.public"
  (click)="route(caseStudy.public ? caseStudy.href : '')"
  fxHide.lt-lg
  fxLayout="row"
  fxLayoutGap="6rem"
>
  <!-- <div *ngIf="caseStudy.orientation === 'left'" fxFlex="45" fxLayoutAlign="center center">
    <a [routerLink]="caseStudy.public ? caseStudy.href : ''">
      <img
        fxFlex.lt-lg="70"
        class="img-left"
        [alt]="'Image of coinfloe application on desktop and mobile'"
        [src]="caseStudy.img_url"
      />
    </a>
  </div> -->
  <div fxFlex="55" class="h-100" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px">
    <span *ngIf="!caseStudy.public" class="text-gray-500 focus:ring-2 focus:ring-gray-800 text-uppercase font-bold"
      >In Progress</span
    >
    <h2 class="text-2xl font-black">{{ caseStudy.title }}</h2>
    <div ngClass.gt-xs="" class="">
      <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start start" class="pb-1">
        <span *ngFor="let skill of caseStudy.skills" class="font-bold text-gray-400">{{ skill }}</span>
      </div>
      <p class="text-left text-gray-600">{{ caseStudy.desc }}</p>
    </div>
    <div *ngIf="caseStudy.nda">
      <span fxLayout="row" class="nda-wrapper" fxLayoutGap="10px">
        <div fxLayout="column" class="justify-center">
          <i class="text-gray-400 text-xl fas fa-exclamation-circle"></i>
        </div>
        <div fxLayout="column">
          <label class="text-sm font-semibold text-gray-100 mb-1 text-left">Under Non-disclosure Agreement</label>
          <p class="text-xs text-gray-300 font-medium">Details will likely be vague to protect client info.</p>
        </div>
      </span>
    </div>
    <!-- <div>
      <a
        [routerLink]="caseStudy.href"
        *ngIf="caseStudy.caseStudy && caseStudy.public; else viewMore"
        class="focus:ring-2 focus:ring-gray-800"
        >Read the case study</a
      >
      <ng-template #viewMore>
        <a
          *ngIf="caseStudy.public; else comingsoon"
          [routerLink]="caseStudy.href"
          class="focus:ring-2 focus:ring-gray-800"
          >Explore the project</a
        >
      </ng-template>
      <ng-template #comingsoon>
        <span class="text-gray-500 focus:ring-2 focus:ring-gray-800 text-uppercase font-bold">In Progress</span>
      </ng-template>
    </div> -->
  </div>
  <!-- <div *ngIf="caseStudy.orientation === 'right'" fxFlex="45" fxLayoutAlign="center center">
    <a [routerLink]="caseStudy.public ? caseStudy.href : ''">
      <img
        fxFlex.lt-lg="70"
        class="img-right"
        [alt]="'Image of coinfloe application on desktop and mobile'"
        [src]="caseStudy.img_url"
      />
    </a>
  </div> -->
  <div fxFlex="45" fxLayoutAlign="center center">
    <img
      fxFlex.lt-lg="70"
      class="img-right"
      [alt]="'Image of coinfloe application on desktop and mobile'"
      [src]="caseStudy.img_url"
    />
    <!-- <a [routerLink]="caseStudy.public ? caseStudy.href : ''">

    </a> -->
  </div>
</button>

<a fxLayout="column" fxHide.gt-md fxLayoutGap="3rem">
  <div fxFlex="45" fxLayoutAlign="center center">
    <a [routerLink]="caseStudy.href" class="justify-content-center">
      <img
        fxFlex.lt-lg="70"
        class="img-left"
        [alt]="'Image of coinfloe application on desktop and mobile'"
        [src]="caseStudy.img_url"
      />
    </a>
  </div>
  <div fxFlex="55" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
    <h2 class="text-3xl font-extrabold px-4">{{ caseStudy.title }}</h2>
    <div ngClass.gt-xs="" class="">
      <p class="text-center text-gray-600">{{ caseStudy.desc }}</p>
      <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center" class="mt-2">
        <span *ngFor="let skill of caseStudy.skills" class="badge badge-pill badge-dark mt-2 px-3 py-2">{{
          skill
        }}</span>
      </div>
    </div>
    <div *ngIf="caseStudy.nda">
      <span fxLayout="row" class="nda-wrapper" fxLayoutGap="10px">
        <div fxLayout="column" class="justify-center">
          <i class="text-gray-400 text-xl fas fa-exclamation-circle"></i>
        </div>
        <div fxLayout="column">
          <label class="text-sm font-semibold text-gray-100 mb-1 text-left">Under Non-disclosure Agreement</label>
          <p class="text-xs text-gray-300 font-medium">Details will likely be vague to protect client info.</p>
        </div>
      </span>
    </div>
    <!-- <div>
      <a
        [routerLink]="caseStudy.public ? caseStudy.href : ''"
        *ngIf="caseStudy.caseStudy && caseStudy.public; else viewMore"
        class="focus:ring-2 focus:ring-gray-800"
        >Read the case study</a
      >
      <ng-template #viewMore>
        <a
          *ngIf="caseStudy.public; else comingsoon"
          [routerLink]="caseStudy.href"
          class="focus:ring-2 focus:ring-gray-800"
          >Explore the project</a
        >
      </ng-template>

      <ng-template #comingsoon>
        <span class="text-gray-500 focus:ring-2 focus:ring-gray-800 text-uppercase font-bold">In Progress</span>
      </ng-template>
    </div> -->
  </div>
</a>
