@import "../../../../styles/index";

img {
  min-width: 280px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
  // &:hover{
  //   transform: rotate(3deg) scale(1.05);
  // }
}

.img-left {
  &:hover {
    transform: rotate(2deg) scale(1.05);
    box-shadow: rgb(100 100 111 / 42%) 0px 7px 29px 0px;
  }
}

.img-right {
  &:hover {
    transform: rotate(-2deg) scale(1.05);
    box-shadow: rgb(100 100 111 / 42%) 0px 7px 29px 0px;
  }
}
