@import "../../../../styles/index";

img {
  max-height: 105px;
}

.info-card {
  padding: 2rem;
  // background: white;
  border-radius: 15px;
  // box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  // border: 1px solid #ebebeb;
  align-items: start;
  justify-content: space-between;
  max-width: 580px;
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateY(-10px);
    background: white;
  }
  .info-badge {
    background: $badge-bg-light;
    border-radius: 50px;
    white-space: nowrap;
  }
}
