<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" class="mb-4">
    <span [ngStyle]="style" class="text-gray-800 text-4xl font-semibold mb-2">{{ name }}</span>
    <small class="font-semibold text-xs text-gray-400">Regular • Bold • Extra Bold</small>
  </div>
  <div fxLayout="row" class="max-w-6xl w-100">
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayout="column" fxLayoutAlign="start start">
        <span class="text-base font-semibold text-gray-500 mb-3">Headings</span>
        <div fxLayout="column" fxLayoutGap="2rem">
          <div class="text-left">
            <div [ngStyle]="style" class="text-4xl font-extrabold">
              Heading 1
              <p class="text-xs font-light text-gray-400 mb-1 text-uppercase mt-2">text-4xl / font-extrabold</p>
            </div>
          </div>
          <div class="text-left">
            <div [ngStyle]="style" class="text-3xl font-normal">
              Heading 2
              <p class="text-xs font-light text-gray-400 mb-1 text-uppercase mt-2">text-3xl / font-normal</p>
            </div>
          </div>
          <div class="text-left">
            <div [ngStyle]="style" class="text-xl font-bold">
              Heading 3
              <p class="text-xs font-light text-gray-400 mb-1 text-uppercase mt-2">text-xl / font-bold</p>
            </div>
          </div>
          <div class="text-left">
            <div [ngStyle]="style" class="text-lg font-bold">
              Heading 4
              <p class="text-xs font-light text-gray-400 mb-1 text-uppercase mt-2">text-lg / font-bold</p>
            </div>
          </div>
          <div class="text-left">
            <div [ngStyle]="style" class="text-base font-extrabold">
              Heading 5
              <p class="text-xs font-light text-gray-400 mb-1 text-uppercase mt-2">text-base / font-extrabold</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayout="column" fxLayoutAlign="start start">
        <span class="text-base font-semibold text-gray-500 mb-3">Body</span>
        <div fxLayout="column" fxLayoutGap="2rem">
          <div class="text-left">
            <div [ngStyle]="style" class="text-base font-bold">
              Body 1
              <p class="text-xs font-light text-gray-400 mb-1 text-uppercase mt-2">text-base / font-bold</p>
            </div>
          </div>
          <div class="text-left">
            <div [ngStyle]="style" class="text-sm font-semibold">
              Body 2
              <p class="text-xs font-light text-gray-400 mb-1 text-uppercase mt-2">text-sm / font-semibold</p>
            </div>
          </div>
          <div class="text-left">
            <div [ngStyle]="style" class="text-sm font-base">
              Body 3
              <p class="text-xs font-light text-gray-400 mb-1 text-uppercase mt-2">text-sm / font-semibold</p>
            </div>
          </div>
          <div class="text-left">
            <div [ngStyle]="style" class="text-xs font-extrabold">
              Body 4
              <p class="text-xs font-light text-gray-400 mb-1 text-uppercase mt-2">text-sm / font-semibold</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
