@import "./variables";

.btn-main {
  font-weight: bold;
  border-radius: 5px;
  background: $bg-purple;
  color: white;
  padding: 10px 25px;
  transition: 0.2s ease-in-out;
  text-transform: capitalize;
  text-align: center;
  &:hover {
    background: lighten($bg-purple, 3%);
    color: white;
  }
}

.btn-secondary {
  font-weight: bold;
  border-radius: 5px;
  background: $bg-gray;
  color: $big-text-color;
  padding: 10px 25px;
  transition: 0.2s ease-in-out;
  text-transform: capitalize;
  text-align: center;
  &:hover {
    background: darken($bg-gray, 3%);
    color: $big-text-color;
  }
}

.btn-main-invert {
  font-weight: bold;
  border-radius: 5px;
  background: white;
  color: $bg-purple;
  padding: 10px 25px;
  transition: 0.2s ease-in-out;
  text-transform: capitalize;
  text-align: center;
  &:hover {
    background: darken(white, 3%);
    color: $bg-purple;
  }
}

a {
  font-weight: bold;
  color: $bg-purple;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  &:hover {
    color: lighten($bg-purple, 3%);
    text-decoration: underline;
  }
}

// img
.img-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.img-border {
  border: 1px solid #ebebeb;
}

// text shadow
.purple-navy-text {
  // text-shadow: 4px 4px 3px #b1aeffab;
  text-shadow: 4px 4px 5px #b1aeff80;
  color: $bg-purple;
}

// shadows
.primary-shadow {
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

// containers
.sm-icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  background: #6c63ff38;
  border-radius: 999px;
  color: $bg-purple;
  justify-content: center;
  align-items: center;
}

.table-of-contents-wrapper {
  top: 50px;
  right: 105px;
  z-index: 1;
  position: absolute !important;
  .inner-container {
    top: 90px;
    width: 165px;
    button {
      &:hover {
        color: $hightlight-text-color;
      }
    }
  }
}

// material
.mat-button-toggle-group-appearance-standard {
  border-radius: 12px !important;
}

::ng-deep .mat-form-field-infix {
  width: auto !important;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 35px !important;
}
