@import "./variables";

.btn-main {
  font-weight: bold;
  border-radius: 5px;
  background: $bg-purple;
  color: white;
  padding: 10px 25px;
  transition: 0.2s ease-in-out;
  text-transform: capitalize;
  text-align: center;
  &:hover {
    background: lighten($bg-purple, 3%);
    color: white;
  }
}

.btn-secondary {
  font-weight: bold;
  border-radius: 5px;
  background: $bg-gray;
  color: $big-text-color;
  padding: 10px 25px;
  transition: 0.2s ease-in-out;
  text-transform: capitalize;
  text-align: center;
  &:hover {
    background: darken($bg-gray, 3%);
    color: $big-text-color;
  }
}

a {
  font-weight: bold;
  color: $bg-purple;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  &:hover {
    color: lighten($bg-purple, 3%);
    text-decoration: underline;
  }
}
