<div class="contact-wrapper rounded-xl text-white p-3 py-4 w-100" fxLayout="column">
  <h2 class="text-xs font-semibold mb-4 text-gray-200">Contact Information</h2>
  <div class="px-1" fxLayout="column">
    <div fxLayout="column" class="align-items-center" fxLayoutGap="15px">
      <a>
        <img
          class="profile-image-sm"
          [src]="
            'https://firebasestorage.googleapis.com/v0/b/cryptoliov2.appspot.com/o/landon_image.jpg?alt=media&token=16ebf32f-77b3-4103-be59-80f68a581054'
          "
        />
      </a>
      <div fxLayout="column" class="text-center">
        <label class="text-xl font-bold mb-1">Landon C. Messmer</label>
        <label class="text-sm font-medium text-gray-200">UX Engineer</label>
      </div>
      <div fxLayout="row" fxLayoutGap="25px" class="w-100 mb-3" fxLayoutAlign="space-around start">
        <a class="contact-icon" href="mailto:landon.messmerjmu@gmail.com" matTooltip="Email">
          <i class="fas fa-envelope"></i>
        </a>
        <a class="contact-icon" href="tel:+14123604941" matTooltip="Call">
          <i class="fas fa-phone"></i>
        </a>
        <a class="contact-icon" href="sms:+14123604941" matTooltip="Message">
          <i class="fas fa-comment"></i>
        </a>
        <a class="contact-icon" href="https://www.linkedin.com/in/4921117/" target="_blank" matTooltip="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="10px" class="contact-info">
      <div fxLayout="column">
        <label class="text-xs font-medium text-gray-300 mb-0">Email</label>
        <label class="text-sm font-medium text-white">landon.messmerjmu@gmail.com</label>
      </div>
      <div fxLayout="column">
        <label class="text-xs font-medium text-gray-300 mb-0">Phone</label>
        <label class="text-sm font-medium text-white">(412) 360-4941</label>
      </div>
      <div fxLayout="column">
        <label class="text-xs font-medium text-gray-300 mb-0">Location</label>
        <label class="text-sm font-medium text-white">Arlington, VA</label>
      </div>
    </div>
    <div>
      <button
        vcdDownloadVCard
        [generateVCardFunction]="generateVCardOnTheFly"
        class="btn-main-invert focus:ring-2 focus:ring-gray-800 w-100"
      >
        <span class="font-bold">
          <i class="fas fa-cloud-download-alt mr-1"></i>
          Save Contact
        </span>
      </button>
    </div>
  </div>
</div>
