<div class="container-fluid">
  <div class="container align-items-center" fxLayout="column" fxLayoutGap="8rem">
    <div
      fxLayout="row"
      fxLayout.lt-lg="column-reverse"
      fxLayoutGap="6rem"
      [ngClass.lt-lg]="'max-w-screen-sm'"
      class="hero-section"
    >
      <div fxFlex.lt-sm="100" fxFlex="45">
        <h1 class="text-5xl font-extrabold leading-tight">
          I'm Landon, a <span class="text-5xl font-extrabold leading-tight purple-navy-text">UX Designer</span> at Booz
          Allen Hamilton.
        </h1>
        <p class="text-xl leading-9 mt-2 mb-4 text-gray-500">
          I'm a UX engineer, experienced in building custom user experiences for the Government
          <a
            class="text-gray-600"
            matTooltip="Learn more about Government clearances"
            href="https://www.state.gov/security-clearances"
            target="_blank"
            >cleared</a
          >
          space. I'm located in
          <a
            class="text-gray-600"
            matTooltip="Learn more about Arlington, VA"
            href="https://www.arlingtonva.us/Home"
            target="_blank"
            >Arlington, VA</a
          >
          and I'm ready to help!
        </p>

        <div
          fxLayout="row"
          fxLayoutGap="25px"
          class="py-4 align-items-center"
          fxLayoutAlign.gt-md="start start"
          fxLayoutAlign.lt-lg="center center"
          fxLayoutAlign.lt-sm="start start"
        >
          <button (click)="openDialog()" class="btn-main focus:ring-2 focus:ring-gray-800">
            <span class="font-extrabold tracking-wide px-4">{{ btnString }}</span>
            <!-- <span class="font-bold" *ngIf="name">Got Feedback, {{ name }}?</span> -->
          </button>
          <a href="mailto:landon.messmerjmu@gmail.com" matTooltip="Send email"
            ><i class="fas fa-envelope text-lg text-gray-600"></i
          ></a>
          <a href="https://www.linkedin.com/in/4921117/" target="_blank" matTooltip="View LinkedIn profile"
            ><i class="fab fa-linkedin text-lg text-gray-600"></i
          ></a>
          <a
            href="https://codepen.io/lando101/pens/public?cursor=ZD0wJm89MSZwPTEmdj0zOTM5NDExNw=="
            target="_blank"
            matTooltip="View Codepen projects"
            ><i class="fab fa-codepen text-lg text-gray-600"></i
          ></a>
        </div>
      </div>
      <div fxHide.lt-sm fxFlex="auto" fxLayout="column" fxLayoutAlign="end end">
        <img
          [src]="
            'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/illustrations_v2%2Funder%20construction-outline_III.png?alt=media&token=ef9e6ee7-8c19-4d83-b240-17d8e329af67'
          "
        />
      </div>
    </div>
    <!-- <div animateOnScroll animationName="animate__fadeInLeft animate__animated" class=""> -->
    <div [ngClass.lt-lg]="'max-w-screen-sm'">
      <div class="text-center w-100 mb-5 py-3 section-header" fxLayout="row" fxLayoutAlign="center center">
        <!-- <div class="divider"></div> -->
        <h2 fxHide.lt-md class="text-4xl font-extrabold whitespace-nowrap">Projects + Case Studies</h2>
        <h2 fxHide.gt-sm class="text-4xl font-extrabold whitespace-nowrap">Case Studies</h2>
        <!-- <div class="divider"></div> -->
      </div>
      <div fxLayout="column" fxLayoutGap="90px">
        <div *ngFor="let casestudy of caseStudies">
          <app-case-study-card [caseStudy]="casestudy"></app-case-study-card>
        </div>
      </div>
    </div>
    <div [ngClass.lt-lg]="'max-w-screen-sm'">
      <div class="text-center w-100 mb-2 py-3 section-header" fxLayout="row" fxLayoutAlign="center center">
        <!-- <div class="divider w-100"></div> -->
        <h2 class="text-4xl font-extrabold px-4">Roles</h2>
        <!-- <div class="divider w-100"></div> -->
      </div>
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="65px" fxLayoutAlign="space-around">
        <div fxFlex="30" class="d-flex justify-center item-center" *ngFor="let skill of skills">
          <app-info-card [skills]="skill"></app-info-card>
        </div>
      </div>
      <div>
        <app-cert-images></app-cert-images>
      </div>
    </div>
    <!-- <div animateOnScroll animationName="animate__fadeInRight" class="animate__animated"> -->

    <div [ngClass.lt-lg]="'max-w-screen-sm'" class="feedback-section">
      <div class="bg">
        <!-- <img
          fxHide.lt-xl
          [src]="
            'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/illustrations%2Fundraw_team_spirit_re_yl1v.svg?alt=media&token=5fde9477-1e23-4d47-a20b-35758cbd8bbe'
          "
        /> -->
      </div>
      <div class="text-center w-100 mb-5 pb-3 bg-transparent" fxLayout="row" fxLayoutAlign="center center">
        <!-- <div class="divider"></div> -->
        <h2 class="text-4xl font-extrabold whitespace-normal text-white text-center">What my team members say...</h2>
        <!-- <div class="divider"></div> -->
      </div>
      <div fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="5rem" class="quotes-wrapper">
        <div fxFlex="30" *ngFor="let quote of quotes">
          <app-quotes [quote]="quote"></app-quotes>
        </div>
      </div>
    </div>
    <!-- <div [ngClass.lt-lg]="'max-w-screen-sm'">
      <div class="text-center w-100 mb-5 py-3 section-header" fxLayout="row" fxLayoutAlign="center center">
        <div class="divider w-100"></div>
        <h2 class="text-4xl font-extrabold px-4 whitespace-nowrap">Build It</h2>
        <div class="divider w-100"></div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-around">
        <div fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="25px">
          <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
            <h2 class="text-3xl font-bold mb-4">When mock-ups aren't enough, build it.</h2>
            <div fxLayout="column" fxLayoutGap="10px">
              <p class="text-gray-600">
                Frequently, I build and prototype working expereinces. Wireframes and mock-ups are great for
                presentations, however, they don't always capture the full intent of a design. Working with developers
                and delivering functional <code>HTML/SCSS</code> has proven to be the most effective way to nail UI
                interactions.
              </p>
              <p class="text-gray-600">When mock-ups are failing to communicate iteractions, I build it.</p>
              <div class="my-5">
                <a
                  class="btn-main focus:ring-2 focus:ring-gray-800"
                  target="_blank"
                  href="https://codepen.io/lando101/pens/public?cursor=ZD0wJm89MSZwPTEmdj0zOTM5NDExNw=="
                  >View Codepen projects <i class="ml-1 fas fa-external-link-alt"></i
                ></a>
              </div>
            </div>
          </div>
          <div fxFlex="60">
            <iframe
              height="500"
              style="width: 100%"
              scrolling="no"
              title="Primary Button"
              src="https://codepen.io/lando101/embed/abOeNWO?default-tab=css%2Cresult&theme-id=dark"
              frameborder="no"
              loading="lazy"
              allowtransparency="true"
              allowfullscreen="true"
            >
              See the Pen <a href="https://codepen.io/lando101/pen/abOeNWO"> Primary Button</a> by Landon Messmer (<a
                href="https://codepen.io/lando101"
                >@lando101</a
              >) on <a href="https://codepen.io">CodePen</a>.
            </iframe>
          </div>
        </div>
      </div>
    </div> -->
    <div [ngClass.lt-lg]="'max-w-screen-sm'" class="w-100">
      <!-- <div class="text-center w-100 mb-5 py-3 section-header" fxLayout="row" fxLayoutAlign="center center">
        <div class="divider w-100"></div>
        <h2 class="text-4xl font-extrabold px-4 whitespace-nowrap">Contact Me</h2>
        <div class="divider w-100"></div>
      </div> -->
      <div class="w-100" fxLayout="row" fxLayout.lt-lg="column-reverse" fxLayoutGap="6rem">
        <div fxHide.lt-lg="" fxFlex="350px">
          <app-contact-card></app-contact-card>
        </div>
        <div fxFlex="auto">
          <app-contact-info-form-standard></app-contact-info-form-standard>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{ quote }}</q>
  </div> -->
</div>
