<div class="container-fluid">
  <div class="container" fxLayout="column" fxLayoutGap="80px">
    <div fxLayout="row" class="hero-section">
      <div fxFlex.lt-sm="100" fxFlex="45">
        <h1 class="text-5xl font-extrabold">Hi, I'm Landon.</h1>
        <p class="text-xl leading-9 my-4 text-gray-500">
          I'm a UX engineer, experienced in building custom user experiences for the Government <b>cleared</b> space.
          I'm located in <b>Arlington, VA</b> and I'm ready to help!
        </p>
        <button (click)="openDialog()" class="btn-main focus:ring-2 focus:ring-gray-800">
          <span class="font-bold" *ngIf="!name">Let's Team Up!</span>
          <span class="font-bold" *ngIf="name">Got Feedback, {{ name }}?</span>
        </button>
      </div>
      <div fxHide.lt-sm fxFlex="auto" fxLayout="row" fxLayoutAlign="center center">
        <img
          [src]="
            'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/illustrations%2Fundraw_building_websites_i78t.svg?alt=media&token=583188f0-8ede-4a8c-9b0f-9d3ff14798bf'
          "
        />
      </div>
    </div>
    <!-- <div animateOnScroll animationName="animate__fadeInLeft animate__animated" class=""> -->

    <div>
      <div class="text-center w-100 mb-5 py-3 section-header" fxLayout="row" fxLayoutAlign="center center">
        <div class="divider w-100"></div>
        <h2 class="text-4xl font-extrabold px-4">Skills</h2>
        <div class="divider w-100"></div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="65px" fxLayoutAlign="space-around">
        <div fxFlex="30" *ngFor="let skill of skills">
          <app-info-card [skills]="skill"></app-info-card>
        </div>
      </div>

      <!-- <div animateOnScroll animationName="animate__flash">test</div> -->
    </div>
    <!-- <div animateOnScroll animationName="animate__fadeInRight" class="animate__animated"> -->
    <div>
      <div class="text-center w-100 mb-5 py-3 section-header" fxLayout="row" fxLayoutAlign="center center">
        <div class="divider"></div>
        <h2 fxHide.lt-sm class="text-4xl font-extrabold px-4 whitespace-nowrap">Projects & Case Studies</h2>
        <h2 fxHide.gt-xs class="text-4xl font-extrabold px-4 whitespace-nowrap">Projects</h2>
        <div class="divider"></div>
      </div>
      <div fxLayout="column" fxLayoutGap="90px">
        <div *ngFor="let casestudy of caseStudies">
          <app-case-study-card [caseStudy]="casestudy"></app-case-study-card>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{ quote }}</q>
  </div> -->
</div>
