<!-- <div class="container-fluid">
  <div class="container align-items-center" fxLayout="column" fxLayoutGap.lt-sm="4rem" fxLayoutGap="8rem">
    <div
      fxLayout="row"
      fxLayout.lt-lg="column-reverse"
      fxLayoutGap="6rem"
      [ngClass.lt-lg]="'max-w-screen-sm'"
      class="hero-section"
    >
      <div fxFlex.lt-sm="100" fxFlex="45">
        <h1 class="text-5xl font-extrabold leading-tight">
          I'm Landon, a <span class="text-5xl font-extrabold leading-tight purple-navy-text">UX Designer</span> at Booz
          Allen Hamilton.
        </h1>
        <p class="text-lg leading-9 mt-2 mb-4 text-gray-500">
          I'm a UX designer who builds innovative user experiences for the Government
          <a
            class="text-gray-600"
            matTooltip="Learn more about Government clearances"
            href="https://www.state.gov/security-clearances"
            target="_blank"
            >cleared</a
          >
          space.
        </p>

        <div
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutGap="25px"
          class="py-4"
          fxLayoutAlign.gt-md="start center"
          fxLayoutAlign.lt-lg="center center"
          fxLayoutAlign.lt-sm="start start"
        >
          <button (click)="openDialog()" class="btn-main focus:ring-2 focus:ring-gray-800">
            <span class="font-extrabold tracking-wide px-4">{{ btnString }}</span>
          </button>
          <div fxLayoutGap="15px">
            <a href="mailto:landon.messmerjmu@gmail.com" matTooltip="Send email"
              ><i class="fas fa-envelope text-gray-600" ngClass="text-lg" ngClass.lt-sm="text-2xl"></i
            ></a>
            <a href="https://www.linkedin.com/in/4921117/" target="_blank" matTooltip="View LinkedIn profile"
              ><i class="fab fa-linkedin text-gray-600" ngClass="text-lg" ngClass.lt-sm="text-2xl"></i
            ></a>
            <a
              href="https://codepen.io/lando101/pens/public?cursor=ZD0wJm89MSZwPTEmdj0zOTM5NDExNw=="
              target="_blank"
              matTooltip="View Codepen projects"
              ><i class="fab fa-codepen text-gray-600" ngClass="text-lg" ngClass.lt-sm="text-2xl"></i
            ></a>
          </div>
        </div>
      </div>
      <div fxHide.lt-sm fxFlex="auto" fxLayout="column" fxLayoutAlign="end end">
        <img
          [src]="
            'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/illustrations_v2%2Funder%20construction-outline_III.png?alt=media&token=ef9e6ee7-8c19-4d83-b240-17d8e329af67'
          "
        />
      </div>
    </div>
    <div [ngClass.lt-lg]="'max-w-screen-sm'">
      <div class="primary-accent"></div>
      <div
        class="text-center w-100 mb-5 py-3 section-header"
        fxLayout="row"
        fxLayoutAlign="start start"
        fxLayoutAlign.lt-sm="center center"
      >
        <h2 fxHide.lt-md class="text-4xl font-extrabold whitespace-nowrap">Projects</h2>
        <h2 fxHide.gt-sm class="text-3xl font-extrabold whitespace-nowrap">Projects</h2>
      </div>
      <div fxLayout="column" fxLayoutGap="90px" fxLayoutGap.lt-sm="2rem">
        <div *ngFor="let casestudy of caseStudies">
          <app-case-study-card [caseStudy]="casestudy"></app-case-study-card>
        </div>
      </div>
    </div>
    <div [ngClass.lt-lg]="'max-w-screen-sm'" fxHide.lt-sm>
      <div class="primary-accent"></div>
      <div class="text-center w-100 mb-2 py-3 section-header" fxLayout="row" fxLayoutAlign="start start">
        <h2 class="text-4xl font-extrabold">Roles</h2>
      </div>
      <div
        fxLayout="row"
        fxLayout.lt-lg="column"
        fxLayoutGap="65px"
        fxLayoutGap.lt-sm="2rem"
        fxLayoutAlign="space-around"
      >
        <div fxFlex="30" class="d-flex justify-center item-center" *ngFor="let skill of skills">
          <app-info-card [skills]="skill"></app-info-card>
        </div>
      </div>
      <div>
        <app-cert-images></app-cert-images>
      </div>
    </div>
    <div [ngClass.lt-lg]="'max-w-screen-sm'" class="feedback-section">
      <div class="bg">
      </div>
      <div class="w-100 mb-5 pb-3 bg-transparent" fxLayout="row" fxLayoutAlign="center center">
        <h2
          ngClass.lt-lg="text-4xl"
          ngClass.gt-md="text-5xl"
          class="font-extrabold whitespace-normal text-white"
          ngClass="text-center"
          ngClass.lt-sm="text-left text-4xl"
        >
          What my team members say...
        </h2>
      </div>
      <div fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="5rem" class="quotes-wrapper">
        <div fxFlex="30" *ngFor="let quote of quotes">
          <app-quotes [quote]="quote"></app-quotes>
        </div>
      </div>
    </div>
    <div [ngClass.lt-lg]="'max-w-screen-sm'" class="w-100">
      <div class="primary-accent"></div>
      <div class="text-center w-100 mb-5 py-3 section-header" fxLayout="row" fxLayoutAlign="start start">
        <h2 class="text-4xl font-extrabold">Contact</h2>
      </div>
      <div class="w-100 mb-5 pb-5" fxLayout="row" fxLayout.lt-lg="column-reverse" fxLayoutGap="6rem">
        <div fxHide.lt-lg="" fxFlex="350px">
          <app-contact-card></app-contact-card>
        </div>
        <div fxFlex="auto">
          <app-contact-info-form-standard></app-contact-info-form-standard>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="w-100" fxLayout="column" ngClass.lt-lg="px-3" fxLayoutGap.lt-sm="4rem" fxLayoutGap="8rem">
  <section
    class="w-100 py-5 mb-4 position-relative overflow-hidden"
    ngClass.gt-sm="hero-container"
    ngClass.lt-md="hero-container-small"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div
      fxLayout="row"
      fxLayout.lt-md="column-reverse"
      fxLayoutGap="6rem"
      [ngClass.lt-lg]="'max-w-screen-lg'"
      class="hero-section container"
    >
      <div fxFlex.lt-sm="100" fxFlex="450px">
        <h3 ngClass.lt-sm="text-xl" ngClass.gt-xs="text-2xl" class="font-bold mb-2 highlight-text">Hi, I'm Landon</h3>
        <h1 ngClass.lt-sm="text-4xl" ngClass.gt-xs="text-5xl" class="font-black leading-tight">
          UX Designer at Booz Allen.
        </h1>
        <p class="text-lg leading-9 mt-2 mb-4 text-gray-500">
          I specialize in building innovative designs for the Government
          <a
            class="text-gray-600"
            matTooltip="Learn more about Government clearances"
            href="https://www.state.gov/security-clearances"
            target="_blank"
            >cleared</a
          >
          space.
        </p>

        <div
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutGap="25px"
          class="py-4"
          fxLayoutAlign.gt-md="start center"
          fxLayoutAlign.lt-lg="start center"
          fxLayoutAlign.lt-sm="start start"
        >
          <button (click)="openDialog()" class="btn-main btn-call-to-action focus:ring-2 focus:ring-gray-800">
            <span class="font-extrabold tracking-wide px-4">{{ btnString }}</span>
          </button>
          <div fxLayoutGap="15px">
            <a href="mailto:landon.messmerjmu@gmail.com" matTooltip="Send email"
              ><i class="fas fa-envelope text-gray-600" ngClass="text-lg" ngClass.lt-sm="text-2xl"></i
            ></a>
            <a href="https://www.linkedin.com/in/4921117/" target="_blank" matTooltip="View LinkedIn profile"
              ><i class="fab fa-linkedin text-gray-600" ngClass="text-lg" ngClass.lt-sm="text-2xl"></i
            ></a>
            <a
              href="https://codepen.io/lando101/pens/public?cursor=ZD0wJm89MSZwPTEmdj0zOTM5NDExNw=="
              target="_blank"
              matTooltip="View Codepen projects"
              ><i class="fab fa-codepen text-gray-600" ngClass="text-lg" ngClass.lt-sm="text-2xl"></i
            ></a>
          </div>
        </div>
        <div fxLayout="column" class="container mt-5 p-0" [ngClass.lt-lg]="'max-w-screen-lg'">
          <!-- <p class="font-bold text-xs text-gray-500">Certifications</p> -->
          <app-cert-images></app-cert-images>
        </div>
      </div>
      <div fxHide.lt-sm fxFlex="auto" fxLayout="column" fxLayoutAlign="center center">
        <img
          ngClass.gt-sm="img-lg"
          ngClass.lt-md="img-sm"
          s
          [src]="'https://ux-portfolio-lcm.s3.amazonaws.com/general/cherry-on-top-v2.png'"
        />
      </div>
    </div>

    <!-- <div class="position-absolute w-100 hero-image">
    <img class="w-100" [src]="'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/Custom%20Size%20%E2%80%93%201.png?alt=media&token=8dcd5936-d002-4cdc-9b81-c09e6bb78bed'">
  </div> -->
    <div fxHide.lt-lg class="position-absolute w-100 hero-image"></div>
    <div class="position-absolute w-100 hero-fade"></div>
  </section>

  <section class="w-100" fxLayout="row" fxLayoutAlign="center center">
    <div [ngClass.lt-lg]="'max-w-screen-lg'" class="container">
      <div class="primary-accent"></div>
      <div class="text-center w-100 mb-5 py-3 section-header" fxLayout="row" fxLayoutAlign="start start">
        <h2 fxHide.lt-md class="text-4xl font-black whitespace-nowrap">Projects</h2>
        <h2 fxHide.gt-sm class="text-3xl font-black whitespace-nowrap">Projects</h2>
      </div>
      <!-- <div fxLayout="column" fxHide.lt-lg fxLayout.lt-lg="row wrap" fxLayoutGap.gt-md="90px" fxLayoutGap.lt-sm="2rem">
        <div *ngFor="let casestudy of caseStudies">
          <app-case-study-card [caseStudy]="casestudy"></app-case-study-card>
        </div>
      </div> -->
      <div fxLayout="column" fxLayout="row wrap" fxLayoutGap="45px grid">
        <div ngClass.gt-sm="w-50" ngClass.lt-md="w-100" *ngFor="let casestudy of caseStudies">
          <app-case-study-card-mini [showMore]="true" [caseStudy]="casestudy"></app-case-study-card-mini>
        </div>
      </div>
    </div>
  </section>
  <section class="w-100" fxLayout="row" fxLayoutAlign="center center">
    <div [ngClass.lt-lg]="'max-w-screen-lg'" class="container" fxHide.lt-sm>
      <div class="primary-accent"></div>
      <div class="text-center w-100 mb-2 py-3 section-header" fxLayout="row" fxLayoutAlign="start start">
        <h2 class="text-4xl font-black">Roles</h2>
      </div>
      <div
        fxLayout="row"
        fxLayout.lt-lg="column"
        fxLayoutGap="65px"
        fxLayoutGap.lt-sm="2rem"
        fxLayoutAlign="space-around"
      >
        <div
          animateOnScroll
          offset="-150"
          animationName="animated animate__fadeIn"
          fxFlex="30"
          class="d-flex justify-center item-center hide-on-init"
          *ngFor="let skill of skills"
        >
          <app-info-card [skills]="skill"></app-info-card>
        </div>
      </div>
      <!-- <div>
        <app-cert-images></app-cert-images>
      </div> -->
    </div>
  </section>
  <section class="w-100 position-relative overflow-visible" fxLayout="row" fxLayoutAlign="center center">
    <!-- <div class="position-absolute w-100 feedback-fade-top"></div>
    <div class="position-absolute w-100 feedback-fade-bottom"></div> -->
    <div fxLayout="row" ngClass.gt-sm="px-5" class="w-100 px-5 justify-between position-absolute">
      <img
        class="hide-on-init side-img"
        offset="0"
        animateOnScroll
        animationName="animated animate__fadeInLeft"
        ngClass.lt-md="img-shift-left"
        src="https://ux-portfolio-lcm.s3.amazonaws.com/general/look-down-left.png"
      />
      <img
        class="hide-on-init side-img"
        offset="0"
        animateOnScroll
        animationName="animated animate__fadeInRight"
        fxHide.lt-md
        src="https://ux-portfolio-lcm.s3.amazonaws.com/general/look-down-right.png"
      />
    </div>
    <div [ngClass.lt-lg]="'max-w-screen-lg'" class="container" class="feedback-section">
      <!-- <div class="bg"></div> -->
      <div class="w-100 mb-5 pb-3 bg-transparent" fxLayout="row" fxLayoutAlign="center center">
        <h2
          ngClass.lt-lg="text-4xl"
          ngClass.gt-md="text-5xl"
          class="font-black whitespace-normal text-capitalize text-underline-wavy"
          ngClass="text-center"
          ngClass.lt-sm="text-left text-4xl"
        >
          What my teams say...
        </h2>
      </div>
      <div
        fxLayout.gt-md="row"
        fxLayout="column"
        fxLayoutGap="5rem"
        [ngClass.lt-lg]="'max-w-screen-sm'"
        class="container"
      >
        <div fxFlex="30" *ngFor="let quote of quotes">
          <app-quotes [quote]="quote"></app-quotes>
        </div>
      </div>
    </div>
  </section>
  <section class="w-100" fxLayout="row" fxLayoutAlign="center center">
    <div [ngClass.lt-lg]="'max-w-screen-lg'" class="container">
      <div class="primary-accent"></div>
      <div
        ngClass.lt-md="mb-3"
        ngClass.gt-sm="mb-5"
        class="text-center w-100 py-3 section-header"
        fxLayout="row"
        fxLayoutAlign="start start"
      >
        <h2 fxHide.lt-md class="text-4xl font-black whitespace-nowrap">Contact</h2>
        <h2 fxHide.gt-sm class="text-3xl font-black whitespace-nowrap">Contact</h2>
      </div>
      <div class="w-100 mb-5 pb-5" fxLayout="row" fxLayout.lt-lg="column-reverse" fxLayoutGap="6rem">
        <div
          class="hide-on-init"
          offset="-300"
          animateOnScroll
          animationName="animated animate__fadeInUp"
          fxHide.lt-lg=""
          fxFlex="350px"
        >
          <app-contact-card></app-contact-card>
        </div>
        <div fxFlex="auto">
          <app-contact-info-form-standard></app-contact-info-form-standard>
        </div>
      </div>
    </div>
  </section>
</div>
