@import "src/theme/theme-variables";
@import "../../../styles/index";

.navbar {
  margin-bottom: $spacer;
  background: #ffffff !important;
  border-bottom: solid 1px#f1f1f1;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
.active {
  // border-bottom: 3px solid $bg-purple;
  color: $bg-purple !important;
}

.brand-text {
  font-family: "Megrim", cursive;
  font-size: 1.8rem;
}

header {
  position: sticky;
  top: 0px;
  z-index: 10;
  transition: 0.2s ease-in-out;
}

.nav-down {
  top: -80px;
}

.active-dot {
  margin-left: -17px;
  font-size: 0.6rem;
  margin-right: 7px;
  color: $bg-purple;
}

.dropdown-toggle::after {
  display: none !important;
}

.nav-button {
  background-color: transparent;
  transition: 0.2s ease-in-out;
  width: 145px;
  &:hover {
    background-color: transparent;
    color: $bg-purple !important;
  }
}
