@import "src/theme/theme-variables";
@import "../../../styles/index";
.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.brand-text {
  font-family: "Megrim", cursive;
  font-size: 1.8rem;
}
