<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a
        class="navbar-brand brand-text focus:ring-2 focus:ring-gray-800"
        routerLink="/home"
        routerLinkActive="active"
        translate
        >APP_NAME</a
      >
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbar-menu"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
        [attr.aria-expanded]="!menuHidden"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <div class="navbar-nav ml-auto">
          <div class="navbar-nav">
            <a
              class="nav-item nav-link text-uppercase focus:ring-2 focus:ring-gray-800"
              routerLink="/home"
              routerLinkActive="active"
            >
              <span translate>Home</span>
            </a>
            <!-- <a
              class="nav-item nav-link text-uppercase focus:ring-2 focus:ring-gray-800"
              routerLink="/about"
              routerLinkActive="active"
            >
              <span translate>About</span>
            </a> -->
            <a
              class="nav-item nav-link text-uppercase focus:ring-2 focus:ring-gray-800"
              routerLink="/resume"
              routerLinkActive="active"
            >
              <span translate>Resume</span>
            </a>
          </div>
          <!-- <app-language-selector inNavbar="true" menuClass="dropdown-menu dropdown-menu-right"></app-language-selector> -->
        </div>
      </div>
    </div>
    <!-- <button class="py-2 px-3 m-2 bg-blue-500 hover:bg-nav-hover-blue rounded-md text-white">Click Me!</button> -->
  </nav>
</header>
