<div>
  <section #intro class="hero-diamond">
    <div class="container py-5" [ngClass.lt-lg]="'max-w-screen-lg px-4'" [ngClass.gt-md]="'max-w-screen-2xl'">
      <div fxLayout.gt-md="row" fxLayout.lt-lg="column-reverse" fxLayoutGap="6rem">
        <div fxFlex.gt-md="45">
          <h1 class="text-5xl mb-2 font-extrabold leading-tight">Coinfloe</h1>
          <p class="project-desc text-xl text-gray-600">
            Coinfloe centralizes crypto currency data from a variety of services into an easy-to-use application
            designed for users new to the crypto space. Users can now explore over 250+ crypto currencies which are
            supplemented with additional content to help them understand the token’s use case, community, recent news
            and more.
          </p>
          <div class="py-4">
            <span class="text-gray-600"
              ><strong>Status: </strong> In Development <i class="text-blue-500 fas fa-spinner"></i
            ></span>
          </div>
          <div fxLayout="row" fxLayoutGap="15px">
            <span class="badge badge-pill badge-dark p-3">UI/UX Design</span>
            <span class="badge badge-pill badge-dark p-3">UX Research</span>
            <span class="badge badge-pill badge-dark p-3">UI Development</span>
            <span class="badge badge-pill badge-dark p-3">API Development</span>
          </div>
        </div>
        <div fxFlex.gt-md="55">
          <!-- <div class="video-wrapper">
            <video class="w-100" controls autoplay loop>
              <source [src]="'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/videos%2Fcoinfloe_demo.mp4?alt=media&token=a4247a23-0041-4a14-bf43-fd0c678d069c'" type="video/mp4">
            </video>
          </div> -->
          <img
            class="w-100 rounded-xl"
            [src]="
              'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/website_images%2Fcoinfloe_ad_transparent_no_tilt.png?alt=media&token=9d750a04-4f4f-4b3e-89ac-33aeac3f9dd6'
            "
          />
        </div>
      </div>
    </div>
  </section>
  <div fxLayout="row">
    <div>
      <section #keyinfo class="dark-section" [style.background-color]="'#f3f1f9'">
        <div class="container" [ngClass.lt-lg]="'max-w-screen-lg px-4'" [ngClass.gt-md]="'max-w-screen-2xl'">
          <div class="w-100 text-start">
            <div class="text-left" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="3.5rem">
              <div [ngClass.gt-sm]="'content-section-with-border'" fxLayout="column" fxFlex="50" fxLayoutGap="30px">
                <div>
                  <h3 class="text-2xl font-extrabold mb-2">Overview</h3>
                  <p class="mb-3 text-gray-600">
                    Coinfloe is a personal application built and designed by me. It allows users to view crypto currency
                    information such as news, prices and more in an intuitive UI that was designed for crypto outsiders.
                    In addition to the UI, I also built the APIs for the application which centralized a variety of
                    crypto API services into one easy to use API. Coinfloe was built out of a passion for the crypto
                    space but also to highlight my UX experience without NDA restrictions.
                  </p>
                </div>
                <div fxLayout="column" fxLayoutGap="1rem">
                  <div>
                    <h4 class="text-lg font-extrabold">Project Scope</h4>
                    <p class="text-gray-600">Brand new application</p>
                  </div>
                  <div>
                    <h4 class="text-lg font-extrabold">Tools</h4>
                    <p class="text-gray-600">Codepen, VS Code, Adobe Suite, Figma</p>
                  </div>
                  <div>
                    <h4 class="text-lg font-extrabold">Roles</h4>
                    <p class="text-gray-600">UX Designer, UX Engineer, Developer</p>
                  </div>
                  <div>
                    <h4 class="text-lg font-extrabold">Duration</h4>
                    <p class="text-gray-600">4 months</p>
                  </div>
                </div>
                <div></div>
              </div>
              <div [ngClass.gt-sm]="'sub-section-wo-border'" fxLayout="column" fxFlex="50" fxLayoutGap="15px">
                <div>
                  <h3 class="text-2xl font-extrabold mb-2">Challenge</h3>
                  <p class="mb-3 text-gray-600">
                    Coinfloe proved to have many challenges. The first being aggregating content from multiple providers
                    into one intuitive UI. Crypto information is by nature complicated since it’s a combination of
                    financials, technology, and politics. I wanted to combine these three challenging subjects into one
                    and present it to people who were new to the space.
                  </p>
                  <p class="mb-3 text-gray-600">
                    Secondly, Coinfloe needed more than a UX designer. It needed a front-end developer and API developer
                    too. To make Coinfloe happen, I had to jump into all these roles.
                  </p>
                </div>
                <div>
                  <ul class="list-disc text-gray-600" fxLayout="column" fxLayoutGap="15px">
                    <li fxLayout="row" fxLayoutGap="15px" class="align-items-start">
                      <span><i class="text-gray-400 far fa-circle"></i></span>
                      <span>Combine multiple data feeds into one application</span>
                    </li>
                    <li fxLayout="row" fxLayoutGap="15px" class="align-items-start">
                      <span><i class="text-gray-400 far fa-circle"></i></span>
                      <span>Make crypto currency data digestible for crypto outsiders</span>
                    </li>
                    <li fxLayout="row" fxLayoutGap="15px" class="align-items-start">
                      <span><i class="text-gray-400 far fa-circle"></i></span>
                      <span>Simplify the discovery of crypto currencies and promote exploration</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section #colors class="normal-section">
        <div class="section-header-sticky">
          <div
            class="w-100 text-start container"
            [ngClass.lt-lg]="'max-w-screen-lg px-4'"
            [ngClass.gt-md]="'max-w-screen-2xl'"
          >
            <div class="text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <div class="sm-icon-container">
                <i class="fas fa-swatchbook"></i>
              </div>
              <h1 class="text-center mb-5">
                <span class="font-light text-4xl">01 </span><span class="font-extrabold text-4xl">/ Colors</span>
              </h1>
            </div>
          </div>
        </div>

        <div
          class="container"
          [ngClass.lt-lg]="'max-w-screen-lg px-4'"
          [ngClass.gt-md]="'max-w-screen-2xl'"
          fxLayout="column"
          fxLayoutGap="7rem"
        >
          <div class="text-center">
            <h2 class="text-xl font-light mb-4">Light Theme</h2>
            <div fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="3rem" fxLayoutAlign="center center">
              <app-color-swatch [color]="'#6b42ff'" [textColor]="'white'"></app-color-swatch>
              <app-color-swatch [color]="'#f3f3f3'" [textColor]="'black'"></app-color-swatch>
              <app-color-swatch [color]="'#f9f9f9'" [textColor]="'black'"></app-color-swatch>
              <app-color-swatch [color]="'#00c77e'" [textColor]="'white'"></app-color-swatch>
              <app-color-swatch [color]="'#fd2d53'" [textColor]="'white'"></app-color-swatch>
            </div>
          </div>
          <div class="text-center">
            <h2 class="text-xl font-light mb-4">Dark Theme</h2>
            <div fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="3rem" fxLayoutAlign="center center">
              <app-color-swatch [color]="'#9a7eff'" [textColor]="'white'"></app-color-swatch>
              <app-color-swatch [color]="'#151519'" [textColor]="'white'"></app-color-swatch>
              <app-color-swatch [color]="'#1a1a1f'" [textColor]="'white'"></app-color-swatch>
              <app-color-swatch [color]="'#00c77e'" [textColor]="'white'"></app-color-swatch>
              <app-color-swatch [color]="'#fd2d53'" [textColor]="'white'"></app-color-swatch>
            </div>
          </div>
        </div>
      </section>
      <section #typo class="grid-section">
        <div class="grid-section-header-sticky">
          <div
            class="w-100 text-start container"
            [ngClass.lt-lg]="'max-w-screen-lg px-4'"
            [ngClass.gt-md]="'max-w-screen-2xl'"
          >
            <div class="text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <div class="sm-icon-container">
                <i class="fas fa-pen-fancy"></i>
              </div>
              <h1 class="text-center mb-5">
                <span class="font-light text-4xl">02 </span><span class="font-extrabold text-4xl">/ Typography</span>
              </h1>
            </div>
            <!-- <label class="text-2xl font-bold sub-header">Proof is in the pudding.</label> -->
          </div>
        </div>

        <div
          class="container"
          [ngClass.lt-lg]="'max-w-screen-lg px-4'"
          [ngClass.gt-md]="'max-w-screen-2xl'"
          fxLayout="column"
          fxLayoutGap="7rem"
        >
          <div class="text-center">
            <div fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="3rem" fxLayoutAlign="center center">
              <app-typography class="w-100" [fontFamily]="fontFamily" [name]="fontName"></app-typography>
            </div>
          </div>
        </div>
      </section>
      <section #uiflow class="normal-section">
        <div class="section-header-sticky">
          <div
            class="w-100 text-start container"
            [ngClass.lt-lg]="'max-w-screen-lg px-4'"
            [ngClass.gt-md]="'max-w-screen-2xl'"
          >
            <div class="text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <div class="sm-icon-container">
                <i class="fas fa-route"></i>
              </div>
              <h1 class="text-center mb-5">
                <span class="font-light text-4xl">03 </span><span class="font-extrabold text-4xl">/ UI Flow</span>
              </h1>
            </div>
            <!-- <label class="text-2xl font-bold sub-header">Proof is in the pudding.</label> -->
          </div>
        </div>

        <div
          class="container"
          [ngClass.lt-lg]="'max-w-screen-lg px-4'"
          [ngClass.gt-md]="'max-w-screen-2xl'"
          fxLayout="column"
          fxLayoutGap="7rem"
        >
          <img [src]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/visualizations/UI+Flow.png'" />
        </div>
      </section>
      <section #map class="dark-section">
        <div class="dark-section-header-sticky">
          <div
            class="w-100 text-start container"
            [ngClass.lt-lg]="'max-w-screen-lg px-4'"
            [ngClass.gt-md]="'max-w-screen-2xl'"
          >
            <div class="text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <div class="sm-icon-container">
                <i class="fas fa-sitemap"></i>
              </div>
              <h1 class="text-center mb-5">
                <span class="font-light text-4xl">04 </span><span class="font-extrabold text-4xl">/ Site Map</span>
              </h1>
            </div>
          </div>
        </div>

        <div
          class="container align-items-center"
          [ngClass.lt-lg]="'max-w-screen-lg px-4'"
          [ngClass.gt-md]="'max-w-screen-2xl'"
          fxLayout="column"
          fxLayoutGap="7rem"
        >
          <div class="max-w-screen-lg">
            <img
              class="w-100"
              [src]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/visualizations/Site+Map+Coinfloe.png'"
            />
          </div>
        </div>
      </section>
      <section #lofi class="normal-section">
        <div class="section-header-sticky">
          <div
            class="w-100 text-start container"
            [ngClass.lt-lg]="'max-w-screen-lg px-4'"
            [ngClass.gt-md]="'max-w-screen-2xl'"
          >
            <div class="text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <div class="sm-icon-container">
                <i class="fas fa-drafting-compass"></i>
              </div>
              <h1 class="text-center mb-5">
                <span class="font-light text-4xl">05 </span
                ><span class="font-extrabold text-4xl">/ Lo-Fi Wireframes</span>
              </h1>
            </div>
            <!-- <label class="text-2xl font-bold sub-header">Proof is in the pudding.</label> -->
          </div>
        </div>

        <div
          class="container"
          [ngClass.lt-lg]="'max-w-screen-lg px-4'"
          [ngClass.gt-md]="'max-w-screen-2xl'"
          fxLayout="column"
          fxLayoutGap="7rem"
        >
          <img [src]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/visualizations/Coinfloe+Illustrations.png'" />
        </div>
      </section>
      <section #pages class="dark-section">
        <div class="dark-section-header-sticky">
          <div
            class="w-100 text-start container"
            [ngClass.lt-lg]="'max-w-screen-lg px-4'"
            [ngClass.gt-md]="'max-w-screen-2xl'"
          >
            <div class="text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <div class="sm-icon-container">
                <i class="far fa-window-restore"></i>
              </div>
              <h1 class="text-center mb-5">
                <span class="font-light text-4xl">06 </span><span class="font-extrabold text-4xl">/ Pages</span>
              </h1>
            </div>
            <!-- <label class="text-2xl font-bold sub-header">Proof is in the pudding.</label> -->
          </div>
        </div>

        <div
          class="container align-items-center"
          [ngClass.lt-lg]="'max-w-screen-lg px-4'"
          [ngClass.gt-md]="'max-w-screen-2xl'"
          fxLayout="column"
          fxLayoutGap="7rem"
        >
          <div class="max-w-screen-lg overflow-hidden" fxLayout="column" fxLayoutGap="9rem">
            <!-- <img
              class="w-100"
              [src]="
                'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/website_images%2FSite%20Map%20Coinfloe.png?alt=media&token=5326943e-b168-404a-9f59-305ecf641c74'
              "
            /> -->

            <app-large-image-viewer
              [themeToggle]="true"
              [name]="'Explore'"
              [desc]="'Summary • News • Coin Highlights'"
              [img1]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/vertical-light/coinfloe_home_vertical.png'"
              [img2]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/vertical-dark/dark_home_page-vertical.png'"
              [video]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/videos/explore-video.mp4'"
            >
            </app-large-image-viewer>
            <app-large-image-viewer
              [themeToggle]="true"
              [name]="'Coin Info'"
              [desc]="'Charting • News • Metrics'"
              [img1]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/vertical-light/coin_info_vertical.png'"
              [img2]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/vertical-dark/dark_coin_info_vertical.png'"
              [video]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/videos/coin-info-video.mp4'"
            >
            </app-large-image-viewer>
            <app-large-image-viewer
              [themeToggle]="true"
              [name]="'Coins'"
              [desc]="'Filtering • Sorting • 250+ tokens'"
              [img1]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/vertical-light/coins_page_vertical.png'"
              [img2]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/vertical-dark/dark_coin_page_vertical.png'"
              [video]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/videos/coins-video.mp4'"
            >
            </app-large-image-viewer>
            <app-large-image-viewer
              [themeToggle]="true"
              [name]="'News'"
              [desc]="'Trending • Topics • Search'"
              [img1]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/vertical-light/news_page_vertical.png'"
              [img2]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/vertical-dark/dark_news_page_vertical.png'"
              [video]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/videos/news-video.mp4'"
            >
            </app-large-image-viewer>
          </div>
        </div>
      </section>
      <section #home class="dark-section hidden">
        <div class="dark-section-header-sticky">
          <div
            class="w-100 text-start container"
            [ngClass.lt-lg]="'max-w-screen-lg px-4'"
            [ngClass.gt-md]="'max-w-screen-2xl'"
          >
            <h1>
              <span class="font-light text-4xl">01 </span><span class="font-extrabold text-4xl">/ Components</span>
            </h1>
            <!-- <label class="text-2xl font-bold sub-header">Proof is in the pudding.</label> -->
          </div>
        </div>
        <div class="container" [ngClass.lt-lg]="'max-w-screen-lg px-4'" [ngClass.gt-md]="'max-w-screen-2xl'">
          <div class="w-100" fxLayout="column" fxLayoutGap="12rem">
            <div fxLayout="column" fxLayoutAlign="start start">
              <video class="card-video" autoplay loop>
                <source
                  [src]="
                    'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/videos%2Fcard_up_close.mp4?alt=media&token=9e5173ba-071d-417c-bdf8-15b674634ff9'
                  "
                  type="video/mp4"
                />
              </video>
              <div class="pl-4">
                <p class="text-xs font-light text-gray-400 mb-1">Card / Tilt Effect / Button</p>
                <p class="video-desc text-3xl text-gray-400">News Card</p>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start">
              <div class="overflow-hidden">
                <video class="small-video video-crop" autoplay loop>
                  <source
                    [src]="
                      'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/videos%2Fcoin_card_close_up.mp4?alt=media&token=0e52d1da-77ec-40c4-9d62-6c7dff3d8bd1'
                    "
                    type="video/mp4"
                  />
                </video>
              </div>
              <div class="pl-3">
                <p class="text-xs font-light text-gray-400 mb-1">Card / Tilt Effect / Button</p>
                <p class="video-desc text-3xl text-gray-400">Coin Card</p>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
              <video class="w-100 vertical-video" autoplay loop>
                <source
                  [src]="
                    'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/videos%2Fside_panel_zoom.mp4?alt=media&token=ace59ac6-cdaa-486e-9dbd-1854bca7f7a5'
                  "
                  type="video/mp4"
                />
              </video>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
              <video class="w-100 card-video" autoplay loop>
                <source
                  [src]="
                    'https://firebasestorage.googleapis.com/v0/b/ux-portfolio-8fc64.appspot.com/o/videos%2Fline_chart_up_close.mp4?alt=media&token=dc59ad90-27ea-4ae1-bb4d-1a1b83c5dcf0'
                  "
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
        </div>
      </section>
      <section #demo class="normal-section">
        <div class="section-header-sticky">
          <div
            class="w-100 text-start container"
            [ngClass.lt-lg]="'max-w-screen-lg px-4'"
            [ngClass.gt-md]="'max-w-screen-2xl'"
          >
            <div class="text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <div class="sm-icon-container">
                <i class="far fa-hand-pointer -rotate-12"></i>
              </div>
              <h1 class="text-center mb-5">
                <span class="font-light text-4xl">07 </span><span class="font-extrabold text-4xl">/ Demo</span>
              </h1>
            </div>
            <!-- <label class="text-2xl font-bold sub-header">Proof is in the pudding.</label> -->
          </div>
        </div>
        <div class="container" [ngClass.lt-lg]="'max-w-screen-lg px-4'" [ngClass.gt-md]="'max-w-screen-2xl'">
          <div class="img-shadow">
            <video class="w-100" controls loop>
              <source [src]="'https://ux-portfolio-lcm.s3.amazonaws.com/coinfloe/videos/demo.mp4'" type="video/mp4" />
            </video>
          </div>
        </div>
      </section>
      <section class="dark-section">
        <div class="dark-section-header-sticky">
          <div
            class="w-100 text-start container"
            [ngClass.lt-lg]="'max-w-screen-md px-4'"
            [ngClass.gt-md]="'max-w-screen-2xl'"
          >
            <div class="text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <!-- <div class="sm-icon-container">
                <i class="fas fa-lightbulb"></i>
              </div> -->
              <div class="text-center mb-5">
                <h2>
                  <!-- <span class="font-light text-4xl">03 </span> -->
                  <span class="font-extrabold text-2xl">Thanks for reading!</span>
                </h2>
                <p class="text-gray-600">↓ Check out more work ↓</p>
                <!-- <label class="text-xl font-light sub-header mt-2">Wild ideas welcome.</label> -->
              </div>
              <div
                fxLayout.gt-md="row"
                fxLayout.lt-lg="column"
                fxLayoutGap="3rem"
                fxLayoutGap.lt-sm="2rem"
                [ngClass.gt-md]="'mx-5'"
              >
                <div fxFlex="50" *ngFor="let casestudy of caseStudies">
                  <app-case-study-card-mini [caseStudy]="casestudy"></app-case-study-card-mini>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div fxHide.lt-xl class="table-of-contents-wrapper">
      <div class="position-sticky inner-container text-gray-500 mt-5 text-sm" fxLayout="column" fxLayoutGap="10px">
        <button
          id="intro"
          class="text-left font-medium text-uppercase focus:ring-2 focus:ring-gray-800"
          (click)="scroll(intro)"
        >
          Intro
        </button>
        <button class="text-left font-medium text-uppercase focus:ring-2 focus:ring-gray-800" (click)="scroll(keyinfo)">
          Summary
        </button>

        <button class="text-left font-medium text-uppercase focus:ring-2 focus:ring-gray-800" (click)="scroll(colors)">
          Color
        </button>
        <button class="text-left font-medium text-uppercase focus:ring-2 focus:ring-gray-800" (click)="scroll(typo)">
          Typography
        </button>
        <button class="text-left font-medium text-uppercase focus:ring-2 focus:ring-gray-800" (click)="scroll(uiflow)">
          UI Flow
        </button>
        <button class="text-left font-medium text-uppercase focus:ring-2 focus:ring-gray-800" (click)="scroll(map)">
          Site Map
        </button>
        <button class="text-left font-medium text-uppercase focus:ring-2 focus:ring-gray-800" (click)="scroll(lofi)">
          Lo-Fi
        </button>
        <button class="text-left font-medium text-uppercase focus:ring-2 focus:ring-gray-800" (click)="scroll(pages)">
          Pages
        </button>
        <button class="text-left font-medium text-uppercase focus:ring-2 focus:ring-gray-800" (click)="scroll(demo)">
          Demo
        </button>
      </div>
    </div>
  </div>
</div>
