<div [ngClass]="{ 'hide-router': imgLoading > 0 || imgLoading === null }">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

<div class="loader-container" [@fadeOutUp] *ngIf="imgLoading > 0 || imgLoading === null">
  <!-- Loading... {{imgLoading}} images -->
  <div class="w-100 h-100" fxLayout="column" fxLayoutAlign="center center">
    <div class="spinner-box">
      <div class="configure-border-1">
        <div class="configure-core"></div>
      </div>
      <div class="configure-border-2">
        <div class="configure-core"></div>
      </div>
    </div>
    <span class="navbar-brand brand-text focus:ring-2 focus:ring-gray-800 mr-0" translate>APP_NAME</span>
  </div>
</div>
